@import url('https://fonts.googleapis.com/css2?family=Copse&family=Sail&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    max-width: 414px;
    background-color: #f8f2f3;
    text-align: center;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 414px;
        }

        .tamaño {
            width: 150px;
            margin: 2rem;
        }
    }

    .main {
        .tamaño {
            width: 150px;
            margin: 2rem;
        }

        p {
            margin: 1rem 0;
            color: #c34c62;
            font-size: 25px;
        }

        h1 {
            text-align: center;
            margin: 2rem 0;
            color: #c34c62;
            font-size: 27px;
        }

        h2 {
            text-align: center;
            margin: 2rem 0;
            color: #af7357;
        }

        #contador {
            display: flex;
            justify-content: center;
            gap: 10px;

            div {
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 10px;
            }

            span {
                font-size: 2rem;
                font-weight: bold;
            }

            .tiempo p {
                margin-bottom: 5px;
                color: #c34c62;
                font-size: 18px;
            }
        }

        img {
            width: 414px;
            margin: 2rem 0;
        }

        .main__div {
            display: flex;
            flex-direction: column;
            align-items: center;

            #ubicacion {
                width: 350px;
                margin: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                p {
                    padding: 10px;
                }

                .boton {
                    width: 200px;
                    height: 50px;
                    background-color: #ebc6d4;
                    border-radius: 7px;
                    text-align: center;
                    border: none;

                    &:hover {
                        background-color: #eb84a5;
                    }
                }

            }

            #confirmacion {
                width: 350px;
                margin: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .boton {
                    width: 200px;
                    height: 50px;
                    background-color: #ebc6d4;
                    border-radius: 7px;
                    text-align: center;
                    border: none;

                    &:hover {
                        background-color: #eb84a5;
                    }
                }

            }

            #regalos {
                width: 350px;
                margin: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                p {
                    padding: 10px;
                }

                .boton {
                    width: 200px;
                    height: 50px;
                    background-color: #ebc6d4;
                    border-radius: 7px;
                    text-align: center;
                    border: none;

                    &:hover {
                        background-color: #eb84a5;
                    }
                }

            }

        }
    }
}